build.xml

.project
.classpath

*.class

*.jar

WebContent/META-INF/MANIFEST.MF

.settings/org.eclipse.jdt.core.prefs

*.component

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

lib/servlet-api.jar

*.jar

/bin/
